.main{
    display: flex;
    justify-content: space-between;
}
.cart{
    border: 1px solid black;
    width: 200px;
}
.cart img{
    width: 200px;
}

.link {
    text-decoration: none;
    
}

li {
    list-style-type: none;
}
