.header {
  height: 138px;
  background: linear-gradient(180deg, #a0293d 0%, #7b2f21 100%);
}

.nameShop h2 {
  padding-top: 32px;
  color: white;
  font-weight: 200;
  margin-bottom: 30px;
}

.pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.textPages {
  display: flex;
  list-style: none;
  width: 600px;
  justify-content: space-between;
}

.logoPages {
  display: flex;
  list-style: none;
  width: 125px;
  justify-content: space-between;
  align-items: center
}

.link {
  text-decoration: none;
  color: #fff;
}

.active {
  text-decoration: none;
  color: gold;
}
