YMaps[class$="map"]:first-child:not(:last-child) {
  display: none;
}

.content {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 35%;
}

.mapContainer {
  width: 60%;
}

.map {
  width: 100%;
}

.infoText h1 {
  margin-top: 10px;
}

.street {
  margin-top: 50px;
  font-size: 25px;
}

.street p {
  color: #373737;
  margin-bottom: 35px;
}

.street span {
  margin-right: 12px;
}

.logo {
  margin-top: 20px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  color: gray;
}
