.logo {
    margin-right: 36px;
}


.footer {
  height: 138px;
  background-color: #2C2C2C;
  width: 100%;
}

.footerInfo {
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 60px;
    display: flex;
}

.link {
    text-decoration: none;
    color: #fff;
    margin-right: 36px;
}

.info {
    
    width: 600px;
    display: flex;
    list-style: none;
    flex: 1;
}
